# haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

# npm, react, js
npm-debug.log

# vim  files
**/.*.swp
**/.*.un~

# tex junk
docs/*
!docs/*.tex
!docs/*.png

