@font-face {
	font-family: 'Icons';
	src: url('../public/fonts/Icons.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Titillium';
	src: url('../public/fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
	font-family: 'Ionicons';
	src: url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf');
}

body {
  margin: 0;
  padding: 0;
  background: #2f3238;
  font-family: 'Titillium', sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}


figure {
	margin-top: 50px;
}

.title {
	letter-spacing: 30px;
	font-size: 45px;
	text-align: center;
	width: 100%;
	text-indent: 30px;
	margin-bottom: 40px;
}

.app {
	width: 100%;
	text-align: center;
}

.logo {
	width: 100px;
	height: 100px;
}

@media screen and (min-width: 768px) {
	.login-btn {
		width: 300px;
		height: 40px;
		margin: 10px auto;
		line-height: 40px;
	}
}

@media screen and (max-width: 768px) {
	.login-btn {
		width: 300px;
		height: 40px;
		margin: 10px auto;
		line-height: 40px;
	}
}
	
.login-btn {
	background-color: #36393E;
	color: white;
}

@media screen and (min-width: 768px) {
	.login-btn:hover {
		background-color: #575A5F;
		cursor: pointer;
	}
}

@media screen and (max-width: 768px) {
	.login-btn:active {
		background-color: #575A5F;
		cursor: pointer;
	}
}

/*---------- NAV ----------*/

.control-nav {
  position: absolute;
  bottom: 0px;
  width: 100%; 
  height: 40px;
  line-height: 40px;
  font-size: 25px;	
}

.control-nav .row { 
	background-color: #373A3F;
}

@media screen and (max-width: 768px) {
	.control-nav .row div:active { 
		background-color: #575A5F;
	}
}

@media screen and (min-width: 768px) {
	.control-nav .row div:hover { 
		background-color: #575A5F;
		cursor: pointer;
	}
}
.control-nav .row div { 
	background-color: #26292a;
	padding: 0px;	
}

.control-nav .row div:nth-child(1):before {
	font-family: 'Icons';
	content: "\e0d5";	
}
.control-nav .row div:nth-child(2):before{
	font-family: 'Icons';
	content: "\e0d3";	
}
.colapse{
    overflow: hidden;
	-webkit-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
    height: 0;
}

.colapse *{
    overflow: hidden;
	-webkit-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
    height: 0;
}

.uncolapse {
	display: block;
	-webkit-transition: height  0.3s ease-in;
    transition: height 0.3s ease-in;
	height: 100vh;
}
.uncolapse * {
	-webkit-transition: height  0.3s ease-in;
    transition: height  0.3s ease-in;
}

.collapsable {
	z-index: 1;	
	position: fixed;
	left: 0;
	right: 0;
}

.clear-dropdown {
	height: 100%;
}

.nav-bar{
	width: 100%;
	background-color:  #373a3f;
	font-size: 16px;
	box-sizing: border-box;
	border-bottom: 1px solid gray;
	color: white;
  text-align: left; 
}

.nav-icon {
	display: inline-block;
	margin-right: 10%;
	font-size: 16px;
	margin-left: 10%;
}
/*---------- HEADER ----------*/

.header {
  width: 100%;  
  height: 40px;
  line-height: 40px;
  font-size: 25px;	
  background-color: #26292a;
}

.header-right {
	height: 40px;
}

.header-right-into {
	height: 16px;
	width: 16px;
    margin: 12px auto;
	background:url(../public/img/hamburger.png) 0 0 no-repeat;
}

.header-left {
	color: white;
}
.header-right-closed {	
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		 -o-transform: rotate(0deg);
			transform: rotate(0deg);
	
	-webkit-transition: -webkit-transform 250ms ease-out 0s;	
	   -moz-transition: -moz-transform 250ms ease-out 0s;
		 -o-transition: -o-transform 250ms ease-out 0s;
		    transition: transform 250ms ease-out 0s;
}

.header-right-open {
	background-position: 0px -16px;
		  
	-webkit-transform: rotate(-180deg);
	   -moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		 -o-transform: rotate(-180deg);
			transform: rotate(-180deg);
	
	-webkit-transition: -webkit-transform 250ms ease-out 0s;	
	   -moz-transition: -moz-transform 250ms ease-out 0s;
		 -o-transition: -o-transform 250ms ease-out 0s;
		    transition: transform 250ms ease-out 0s;	
}

.col-xs-2 {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.col-xs-3 {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

/*---------- LETTERS ----------*/

.letters {
	margin: 3%;
}

.letter-container {
	width: 35%;
	padding: 35%;
	margin-left: 15%;
	margin-top: 11%;
	position: relative;
	background-color:  #575A5F;
}

@media screen and (min-width: 768px) {
	.letter-container:hover {
		background-color: #888A8F;
		cursor: pointer;
	}
}

@media screen and (max-width: 768px) {
	.letter-container:active {
		background-color: #888A8F;
		cursor: pointer;
	}
}


.letter {
	color: #cccccc;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-weight: bold;
}


@media screen and (max-width: 480px){
	.letter{
		font-size: 3em;
	} 
}


@media screen and (min-width: 480px) and (max-width: 768px){
	.letter{
		font-size: 4em;
	} 
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.letter{
		font-size: 5em;
	} 
}

@media screen and (min-width: 1024px){
	.letter{
		font-size: 6em;
	} 
}
.letters-title{
	font-size: 30px;
}

/*---------- REGISTER ----------*/

.reg-group {
	margin: auto;
}

@media screen and (max-width: 768px) and (min-width: 480px){
	.reg-group {
		width: 50%;
	}
}

@media screen and (min-width: 768px){
	.reg-group {
		width: 30%;
	}
}

@media screen and (max-width: 768px){
	.reg-group {
		width: 90%;
	}
}
/*---------- SIGN ----------*/


.sign-group {
	margin: auto;
	margin-top: 15px;
}

@media screen and (max-width: 768px) and (min-width: 480px){
	.sign-group {
		width: 50%;
	}
}

@media screen and (min-width: 768px){
	.sign-group {
		width: 30%;
	}
}

@media screen and (max-width: 768px){
	.sign-group {
		width: 70%;
	}
}

.sign-group input {
	background-color:  #36393E;
	color: white;
}

/*---------- HOME ----------*/

.home-container {
	width: 90vw;
	padding-bottom: 90vw;
	margin: 10px auto;
}

.home-container figure {
	margin: 0;
}

.home-btn-container {
	margin-left: 6.6vw;
	margin-top: 6.6vw;
	width: 35vw;
	padding-bottom: 35vw;
	background-color:  #575A5F;
	float: left;
	position: relative;
}


@media screen and (min-width: 768px) {
	.home-btn-container:hover {
		background-color: #888A8F;
		cursor: pointer;
	}
}

@media screen and (max-width: 768px) {
	.home-btn-container:active {
		background-color: #888A8F;
		cursor: pointer;
	}
}

.home-btn {
	color: #cccccc;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-weight: bold;
}


@media screen and (max-width: 480px){
	.home-btn {
		font-size: 1em;
	} 
}


@media screen and (min-width: 480px) and (max-width: 768px){
	.home-btn {
		font-size: 2em;
	} 
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.home-btn{
		font-size: 3em;
	} 
}

@media screen and (min-width: 1024px){
	.home-btn{
		font-size: 4em;
	} 
}

.home-btn {
	font-size: 48px;
}

.help-icon:before {
	font-family: 'Ionicons';
	content: "\f142";	
}

.categories-icon:before {
	font-family: 'Ionicons';
	content: "\f2bf";	
}

.profile-icon:before {
	font-family: 'Ionicons';
	content: "\f3a0";	
}

.logout-icon:before {
	font-family: 'Ionicons';
	content: "\f29f";
		
}

/*---------- CATEGORIES ----------*/

.category-container a:first-child div{
	margin-top: 10vh;
	color: white;
	border-top: 1px solid gray;
}

.category-row {
	font-size: 18px;
	color: white;
	width: 90%;
	height: 40px;
	border-bottom: 1px solid gray;
	background-color: #373A3F;
	margin: auto;
	line-height: 40px;
}

@media screen and (max-width: 768px) {
	.category-row:active { 
		background-color: #575A5F;
	}
}

@media screen and (min-width: 768px) {
	.category-row:hover { 
		background-color: #575A5F;
		cursor: pointer;
	}
}
